.App {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: flex-start;
    column-gap: 30px;
}

.row {
    display: flex;
    flex-direction: row;
}

.headerWrapper {
    display: flex;
    width: 70%;
    column-gap: 10px;
}

.wrapperButtonsWithSelect {
    display: flex;
    column-gap: 10px;
    flex-direction: column;
    width: 100%;
}

.boxStyles {
    width: 100%;
    min-width: 300px;
}

.selectStyles {
    height: 30px;
}

.inputLabel {
    top: -10px !important;
}

.buttonStyle {
    height: 30px;
}
